html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* Because we imported open sans font we can use it here */
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  vertical-align: baseline;
  /* Really important to know whats happening here. box-sizing can save you a lot of hassle */
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.searchcontainer {
  width: 100%;
  height: 100px;
  background-color: #232f3e; }

.searchbar {
  justify-content: center;
  align-content: center;
  top: 0;
  left: 0;
  z-index: 198;
  font-family: arial,sans-serif;
  font-size: 12px;
  line-height: 1em;
  margin: 0 -8px;
  display: flex;
  flex-wrap: wrap;
  zoom: 1;
  height: 25px; }

select {
  width: 10%;
  height: 25px;
  margin: 10px 1px; }

.search {
  height: 25px;
  width: 20%;
  margin: 10px 1px; }

.buttoninput {
  height: 25px;
  width: 25px;
  color: #ffff;
  margin: 10px 1px;
  background-image: url("magglass1.jpg"); }

.zip {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: stretch;
  padding: 10px;
  height: auto;
  width: 200px;
  color: whitesmoke; }

.zip-container > img {
  display: flex;
  align-items: center;
  height: 20px;
  margin: 5px; }

.zip-container {
  display: flex;
  align-items: flex-start; }

.header-container {
  width: 100%;
  height: 40px; }

.header-image {
  width: 100%;
  height: 100%;
  background-image: url("nav5.jpg"); }
